@tailwind base;
  @tailwind components;
  @tailwind utilities;

html,
body,
:root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f9fafb; 
  color: #111827; 
}

.dark html,
.dark body,
.dark :root {
  min-height: 100vh;
  background-color: #111827; 
  color: #f9fafb;           
}

.placeholder-black::placeholder {
  color: #6b7280; 
}


/* :root {
  background-color: rgb(252 211 77);
}.dark{
  background-color: rgb(217 119 6);
} */

